<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>{{title}}</title>
</head>

<style>
 body {
    background-image: url(../static/fon.jpg);
    background-color: #f8f9fa;
   }
 </style>

  <body class="bg-secondary">
    <header>
      <nav class="navbar fixed-top navbar-light bg-dark headin">
          <span><a href="#"><img width="130" height="50" alt="ERROR" src="static/img/LogoDarkUndStilished.png"></a></span>
          {% if "username" in session %}

                        <a class="navbar-brand text-white" href="/">Главная</a>

                        {% if session["username"] in ADMINS %}
                             <a class="navbar-brand text-white" href="/add_announcement">Добавить задачу</a>
                            <a class="navbar-brand text-white" href="/solutions">Задачи</a>
                         {% else %}
                              <a class="navbar-brand text-white" href="/add_task">Добавить задачу</a>
                              <a class="navbar-brand text-white" href="/my_solutions">Задачи друзей</a>
                        {% endif %}
                         <ul class="nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><font color="white">{{session["username"]}}</font></a>
                                <div class="dropdown-menu bg-secondary">
                                    <a class="dropdown-item bg-secondary text-white" href="/logout">Выйти</a>
                                </div>
                            </li>
                         </ul>
           {% endif %}

      </nav>
    </header>

          <br />
          <br />
          <br />

    <main role="main" class="container">
        <br/>
        {% block content %}




        {% endblock %}
    </main>

    {% if code and task_name %}

             <div style="margin-left:300px;border: 2px solid black;width:1200px;padding:3px">
                 <h4>Название задачи: {{task_name}} </h4>
            </div>
            <br/>
        <div style="margin-left:300px;border: 2px solid black;width:1200px;padding:20px;">
                <code> <pre >{{code}} </pre></code>
            </div>
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


  </body>
</html>